<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" media="all" href="<%= manifest['application.css'] %>">
    <script type="text/javascript" src="<%= manifest['application.js'] %>" defer></script>
    <script type="text/javascript" src="<%= manifest['todos.js'] %>" defer></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
